In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv("data_cleaned.csv", index_col=0)

In [13]:
df.head()

,Repository,Sujets,Etoiles,Langages,PullRequests,Forks,NumberOfContributors,Comments,Tags
0,SysCV/sam-hq,"['sam', 'segmentation', 'segment-anything', 'z...",1758.0,['Python'],0.0,56.0,1.0,0.0,0.0
1,Not-Quite-RARBG/main,"['rarbg', 'torrent', 'torrents']",610.0,['JavaScript'],0.0,21.0,7.0,1.0,0.0
2,mit-han-lab/llm-awq,No Topic,354.0,"['Python', 'Cuda', 'Shell', 'C++', 'C']",0.0,24.0,3.0,0.0,0.0
3,KasperskyLab/triangle_check,No Topic,299.0,['Python'],0.0,18.0,4.0,0.0,1.0
4,damo-vilab/videocomposer,No Topic,229.0,"['Python', 'Shell']",0.0,6.0,2.0,0.0,0.0

# Data Mining

In [15]:
correlation_matrix_pearson = df[["Etoiles", "Forks", "NumberOfContributors", "Comments", "Tags"]].corr(method='pearson')

correlation_matrix_kendall = df[["Etoiles", "Forks", "NumberOfContributors", "Comments", "Tags"]].corr(method='kendall')

correlation_matrix_spearman = df[["Etoiles", "Forks", "NumberOfContributors", "Comments", "Tags"]].corr(method='spearman')

In [16]:
correlation_matrix_pearson

,Etoiles,Forks,NumberOfContributors,Comments,Tags
Etoiles,1.000000,0.673447,0.012466,0.002393,0.001211
Forks,0.673447,1.000000,0.033620,0.011364,0.009073
NumberOfContributors,0.012466,0.033620,1.000000,0.023391,0.260007
Comments,0.002393,0.011364,0.023391,1.000000,0.074658
Tags,0.001211,0.009073,0.260007,0.074658,1.000000

La corrélation de Pearson est une mesure de la corrélation linéaire entre deux variables continues. Elle calcule le coefficient de corrélation de Pearson, qui varie de -1 à 1. Une corrélation de 1 indique une corrélation linéaire positive parfaite, une corrélation de -1 indique une corrélation linéaire négative parfaite, et une corrélation de 0 indique une absence de corrélation linéaire. La corrélation de Pearson suppose que les variables sont distribuées normalement.

In [17]:
correlation_matrix_kendall

,Etoiles,Forks,NumberOfContributors,Comments,Tags
Etoiles,1.000000,0.267101,0.016811,-0.013034,0.089861
Forks,0.267101,1.000000,0.210396,0.017300,0.012439
NumberOfContributors,0.016811,0.210396,1.000000,0.075308,0.112137
Comments,-0.013034,0.017300,0.075308,1.000000,-0.000385
Tags,0.089861,0.012439,0.112137,-0.000385,1.000000

##

In [18]:
correlation_matrix_spearman

,Etoiles,Forks,NumberOfContributors,Comments,Tags
Etoiles,1.000000,0.316965,0.020087,-0.014990,0.104523
Forks,0.316965,1.000000,0.229748,0.018404,0.013390
NumberOfContributors,0.020087,0.229748,1.000000,0.079016,0.118785
Comments,-0.014990,0.018404,0.079016,1.000000,-0.000396
Tags,0.104523,0.013390,0.118785,-0.000396,1.000000